.product-header {
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 0;
    left:0;
    right: 0;
    height: 20px;
    padding: 1rem;
    & button {
        border: none;
        background: transparent;
        height: fit-content;
        width: fit-content;
        scale: 1.1;
        & svg {
            fill: light-dark(#0f0f0f, #f0f0f0);
        }
    }
}


.product-main {
    margin-top: 1rem;
    min-height: 100vh;
    padding: 1rem;
    
    .hero-img {
        width: 100%;
    }

    .product-name {
        font-size: 1.25rem;
    }
    .product-description {
        text-wrap: balance;
    }

    .product-spicy {
        display: flex;
        flex-direction: column;
        width: fit-content;
    }

    .product-heat {
        display: flex;
        justify-content: space-between;
    }
    .product-order {
        display: flex;
        justify-content: space-between;
    }

    .product-portions {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: .7rem;
        font-size: larger;
        & button {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: light-dark(var(--color-primary), var(--color-primary-dark));
            font-size: xx-large;
            border: none;
            border-radius: .5rem;
            height: 2.5rem;
            width: 2.5rem;
        }
    }

    & .product-order {
        display: flex;
        justify-content: space-between;
        align-items: center;

        & .product-price {
            background-color: light-dark(var(--color-primary), var(--color-primary-dark));
            color: white;
            padding: 1rem;
            font-size: 1.5rem;
            font-weight: 600;
            border-radius: 1.25rem;
        }

        & .add-to-cart {
            background-color: light-dark(#3C2F2F, #494141);
            color: white;
            padding: 1rem 2rem;
            font-size: 1.25rem;
            font-weight: 600;
            border-radius: 1.25rem;
            border: none;
            cursor: pointer;
        }
    }
}

