.product-header {
    display: flex;
    justify-content: space-around;
    position: absolute;
    top: 0;
    left:0;
    right: 0;
    height: 20px;
    background-color: oklab(from var(--color-background) 38% a 1 / 0.3);
}

.product-main {
    min-height: 100vh;
    background-color: #1f1f1f;
}
