@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;

  --font-title: "Lobster", sans-serif;

  color-scheme: light dark;
  --color-background-dark: oklab(21.891% 0.00149 0.00044);
  --color-background: oklab(100% 0 -0.00011);
  background-color: light-dark(var(--color-background), var(--color-background-dark));
  --color-primary: oklab(from oklab(61.563% 0.20793 0.09292) l a b);
  --color-primary-dark: oklab(from #EF2A39 45% .15 b);
  --color-text-secondary: oklab(52.431000000000004% 0 -0.00006);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

